.back_to_top_btn {
  position: fixed;
  right: 10px;
  bottom: 100px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  z-index: 150;
  background-color: rgba(122, 186, 127, 0.5);
  cursor: pointer;
}
.back_to_top_btn:hover {
  background-color: rgba(122, 186, 127, 0.7);
}
.hide_button {
  display: none;
}
