.btn {
  background: transparent;
  border: 2px solid var(--main-color);
  min-width: 170px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--main-color);
  font-family: var(--font-fam);
  font-weight: 500;
  font-size: 18px;
}
.btn:hover {
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
