.bestsellers_block {
  padding: 20px;
}
.bestsellers_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px 15px;
  margin: 20px auto;
}
.bestsellers_title_block {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.bestsellers_title_block h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  color: var(--gray-color);
}
@media (max-width: 820px) {
  .bestsellers_title_block {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  .bestsellers_title_block h3 {
    font-size: 16px;
  }
}
