.wrapper{
  height: 100%;
  margin-top: 120px;
  padding:  0 20px;
}
.basket_title{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 20px 40px;
}
.basket_title h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 32px;
}

.link_to_store {
  display: flex;
  align-items: center;
}
.order_list {
  display: flex;
  padding: 10px;
  flex-direction:row;
  gap: 20px;
  border-bottom: 1px solid rgb(196, 196, 196);
}
.order {
  width: 70%;
}
.calculation{
  width: 30%;
}
.link_to_store a {
  text-decoration: none;
  color:rgb(72, 71, 71);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.link_to_store a:hover{
 text-decoration: underline;
 color: black;
}
.link_to_store a span {
  color: gray;
  font-size: 13px;
}
.clear_basket_block{
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.clear_basket_btn{
  cursor: pointer;
  padding: 7px;
  font-family: "Montserrat";
  border: 1px solid rgb(180, 180, 180);
  background: transparent;
  font-size: 16px;
  color: rgb(180, 180, 180);

}
.clear_basket_btn:hover{
  color: black;
  background-color: rgb(233, 233, 233);
  transition: 1s;
}