.empty_basket_container {
  width: 60%;
  height: 100%;
  padding: 20px;
  margin: 100px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.empty_basket_container img {
  width: 70%;
  height: 70%;
}
.empty_basket_container p {
  font-size: 28px;
  font-family: var(--font-fam);
}
.empty_basket_container a {
  text-decoration: none;
}
.empty_basket_container a button {
  border: 2px solid var(--main-color);
  background: transparent;
  padding: 10px;
  font-size: 18px;
  color: var(--main-color);
  cursor: pointer;
  font-family: var(--font-fam);
}
.empty_basket_container a button:hover {
  background-color: var(--main-color);
  color: white;
}
.empty_basket_container:hover img {
  transform: scale(1.05);
  transition-duration: 0.5s;
}
@media (max-width: 920px) {
  .empty_basket_container {
    width: 90%;
    padding: 0;
  }
  .empty_basket_container p {
    font-size: 20px;
    font-family: var(--font-fam);
  }
  .empty_basket_container img {
    width: 40%;
    height: 40%;
  }
}
