.wrapper_footer {
  position: relative;
  height: 450px;
  padding: 15px 15px 0 15px;
  box-sizing: border-box;
  background: rgb(37, 56, 39);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contacts {
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.contacts_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts_block h3 {
  color: rgb(250, 250, 250);
  font-size: 18px;
  font-family: var(--font-fam);
  font-weight: 600;
}
.contacts_block a,
.contacts_block p {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: var(--font-fam);
}
.social {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 0 auto;
}
.social a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.maps {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.current_map {
  width: 100%;
  height: 200px;
}

.close_modal_btn {
  position: absolute;
  right: 10px;
  border: none;
  background-color: transparent;
  padding: 5px;
  font-size: 22px;
  color: var(--gunmetal-color);
  cursor: pointer;
  z-index: 10000;
}
.close_modal_btn:hover {
  color: black;
  transform: scale(1.05);
  transition-duration: 0.5s;
}
.feedback_container {
  height: 40px;
}
.open_modal_btn {
  font-size: 16px;
  font-family: var(--font-fam);
  width: 250px;
  position: absolute;
  left: 50%;
  left: 5%;
  bottom: 0;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  z-index: 1001;
}
.open_modal_btn:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}
.feedback_container button img {
  width: 50px;
}
@media (max-width: 820px) {
  .wrapper_footer {
    height: 550px;
  }
  .contacts_block {
    gap: 10px;
  }
  .contacts_block h3 {
    font-size: 16px;
  }
  .contacts_block a {
    font-size: 14px;
  }
  .contacts_block p {
    font-size: 14px;
  }
  .contacts {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
  .social {
    width: 30%;
    gap: 10px;
  }
}
