.basket_item_container {
  display: flex;
  width: 100%;
  height: 170px;
  padding: 10px 0 10px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--lightgray-color);
  position: relative;
}

.basket_item_container a {
  height: 100%;
  width: 60%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img_block {
  height: 80%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount_label {
  background-color: pink;
  position: absolute;
  left: 0px;
  top: 5px;
  padding: 2px;
  font-size: 16px;
  z-index: 20;
}
.img_block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.basket_item_container a p {
  font-size: 18px;
  font-family: var(--font-fam);
}

.product_info {
  width: 65%;
}
.hide {
  display: none;
}
.count_container {
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.count_btn {
  border: 1px solid var(--lightgray-color);
  width: 40px;
  height: 40px;
  font-size: 22px;
  outline: none;
  background: none;
  cursor: pointer;
}

.count_container div {
  padding: 10px 10px;
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
}

.price_block {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new_price {
  font-weight: 400;
  font-size: 18px;
}
.old_price {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  text-decoration: line-through;
}

.delete_btn {
  border: none;
  background: none;
  outline: none;
  font-size: 22px;
  cursor: pointer;
  color: var( --gray-color);
}
.delete_btn:hover {
  color: black;
  transform: scale(1.05);
}
@media (max-width: 820px) {
  .basket_item_container {
    height: 120px;
    padding: 5px 0 5px 10px;
  }
  .discount_label {
    font-size: 14px;
  }
  .basket_item_container a p {
    font-size: 14px;
  }
  .count_container {
    width: 16%;
  }
  .count_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
  .count_container div{
    padding: 7px 7px;
    font-size: 14px;
  }
  .price_block{
    padding: 5px;
  }
  .new_price {
    font-size: 15px;
  }
  .old_price {
    display: none;
  }
  .delete_btn{
    font-size: 18px; 
  }
}
